nav {
  height: 62pt!important;
  background: rgb(0, 188, 214);
  background:linear-gradient(to right, rgb(0,188,214), rgba(13,149,156,0.54) );
  font-family: futura;
  font-size: 16pt;
  line-height: none;
  text-transform: uppercase;
}

.brand-logo {
  letter-spacing: 5pt;
  font-size: 24pt!important;
  padding: 5pt 53pt!important;
}

.right {
  font-size: 16pt;
  padding: 5pt 53pt;
}

.nav-right {
  margin-left: 31pt;
}

body {
  font-family: avenir;
  background: #F8F8F8;
  color: rgb(157,154,154)
}

.top-text {
  color: rgb(84,84,84)!important;
  font-size: 24pt;
  text-align: left;
  padding-left: 43pt!important;
}

.side-nav {
  background: #F8F8F8;
}

.nav-font {
  color: rgb(84,84,84)!important;
}

#hero {
  height: 247pt;
}

.profile {
  border: 1px solid white!important;
  border-radius: 136px!important;
  width: 136px!important;
  float: left;
  margin-right: 30pt;
}

.greeting {
  font-size: 24pt;
  margin: 0;
  color: rgb(157,154,154)
}

.name {
  font-size: 36pt;
}

.about-content {
  margin-top: 27pt;
  padding-left: 43pt!important;
  padding-right: 43pt;
  line-height: 40pt;
  padding-bottom: 34pt!important;
}

.about-div {
  font-size: 18pt;
}

.skills-div {
  margin-top: 14.5pt;
}

.skills-content {
  padding-right: 43pt!important;
  padding-left: 43pt!important;
}

.skills-icons {
  float: left;
  padding: 42pt;
}

.skills-icons, .contact-icons {
  font-size: 110pt;
}

#work {
  margin-top: 19.5pt;
}

.work-div {
  padding-right: 43pt!important;
}

.work-content {
}

.proj {
  border-radius: 8pt;
  border: 1pt solid rgb(151,151,151);
  height: 181pt;
  width: 181pt;
  margin-left: 43pt;

  }

.proj-content {

}

.proj-link {
  float: left;
  padding-right: 36pt;
  padding-bottom: 26pt;
}

.proj-title {
  font-size: 18pt;
  color: rgb(74,74,74);
  padding-top: 26pt;
}

.col {
  border: 2px solid rgb(222,223,225);
  border-radius: 10px;
  background: white;
}

#contact {
  margin-top: 19.5pt;
}

.contact-content {
  margin-right: 43pt;
  margin-left: 43pt;
}

.contact-icons {
  margin-top: 23pt;
  margin-right: 42pt;
}µ

a:hover{
  color: gold;
  transition-duration: 1s;
}


i {
  color: rgb(0, 188, 214);
}

footer, .page-footer {
  background-color: rgb(0, 188, 214)!important;
  background:linear-gradient(to right, rgb(0,188,214), rgba(13,149,156,0.54) )!important;
}

.page-footer {
  height: 62pt;
  text-align: center;
  color: white;
  padding: 0px!important;
}

.footer-content {
  display: inline;
  float: left;
  padding-left: 43pt;
}

.hamburger {
  color: white;
}

/*Mobile Media Query Screen Breaks*/
@media screen and (max-width: 600px) {
  .hamburger {margin-top: 10pt;}
  .brand-logo {
    margin-top: 5pt;
    margin-left: 10px;
    font-size: 20pt!important;
  }
  #hero {height: 100%;
    padding: 43pt;
    text-align: center;
  }
  .greeting {
    text-align: center;
  }
  .profile {width: 250px!important;
    border-radius: 250px!important;
    margin-bottom: 25pt!important;
    margin: auto;
    float: none;
    display: block;
  }
  .work-div {
    padding-left: 43pt!important;
    padding-bottom: 33pt!important;
    }

  .blue-grey {
    margin: auto;
    display: block;
    width: 40%;
  }

  p.proj-title {
    text-align: center;
  }

  .proj-content {
    padding-bottom: 20pt;
  }

  p.work.top-text {
    padding-left: 0px!important;
  }
  .top-text {padding-left: 43px!important;}
  .skills-icons {margin: auto;
    display: block;}
  .proj {
    margin: auto;
    display: block;
  }
  .proj-link {float: none;}
  .about-content {padding-left: 43px!important;
    font-size: 12pt;
    line-height: 30pt!important;
    margin-top: 0px!important;
  }
  .contact-content {margin: 0px!important;}
  .contact-content>p {padding-left: 43px!important;}
  .contact-content>a {padding-left: 43px!important;}
  .contact-icons {    margin: auto;
    display: block;
    width: 40%;}

}

