body {
  background: #00bcd4;
}

.side-nav {
  background: black;
}

#hero {
  text-align: -webkit-center;
  height: calc(100vh - 64px);
}

@media only screen and (min-width: 0) {
  #hero {
    height: calc(100vh - 56px);

  }

    body {
      margin: 0 0 3rem;
    }
  }



.profile {
border: 10px solid white;
border-radius: 250px;
height: 250px;
width: 250px!important;
padding: 0!important;
float: none!important;
}

.work {
  padding-top: 20px;
}

#skills, #contact, #hero {
  color:white;
}

.brand-logo {
  margin-left: 15px;
}
.skills-icons, .contact-icons {
  font-size: 80px;
}

a:link, a:visited {
   text-decoration: none;
   color: white;
   transition-duration: 1s;
}

a:hover{
  color: gold;
  transition-duration: 1s;
}

.proj {
  border-radius: 200px;
  border: 5px solid #00bcd4;
  height: 200px;
  width: 200px;
  }

.nav-wrapper, .page-footer{
  background: #006064!important;
}

.page-footer {
  height: 100px!important;
  line-height: 100px;
  text-align: center;
  color: white;
  padding: 0px!important;
}

i {
  padding: 10px;
}
