nav {
  height: 62pt!important;
  background: rgb(0, 188, 214);
  background:linear-gradient(to right, rgb(0,188,214), rgba(13,149,156,0.54) );
  font-family: futura;
  font-size: 16pt;
  line-height: none;
  text-transform: uppercase;
}

.brand-logo {
  letter-spacing: 5pt;
  font-size: 24pt!important;
  padding: 5pt 53pt!important;
}

.right {
  font-size: 16pt;
  padding: 5pt 53pt;
}

.nav-right {
  margin-left: 31pt;
}

body {
  font-family: avenir;
  background: #F8F8F8;
  color: rgb(157,154,154)
}

.top-text {
  color: rgb(84,84,84)!important;
  font-size: 24pt;
  text-align: left;
  padding-top: 33pt;
  padding-left: 43pt!important;
}

.side-nav {
  background: black;
}

#hero {
  height: 247pt;
}

.profile {
  border: 1px solid white!important;
  border-radius: 136px!important;
  width: 136px!important;
  float: left;
  margin-right: 30pt;
}

.greeting {
  font-size: 24pt;
  margin: 0;
  color: rgb(157,154,154)
}

.name {
  font-size: 36pt;
}

.about-content {
  margin-top: 27pt;
  padding-left: 43pt!important;
  line-height: 40pt;
  padding-bottom: 34pt!important;
}

.about-div {
  font-size: 18pt;
}

.skills-div {
  margin-top: 14.5pt;
  padding-bottom: 33pt!important;

}

.skills-content {
  padding-right: 43pt!important;
  padding-left: 43pt!important;
}

.skills-icons {
  float: left;
}

.center-img {
  text-align: -webkit-center;
}

/*.row {
  background: grey;
}*/

.col {
  border: 2px solid rgb(222,223,225);
  border-radius: 10px;
  background: white;
}

/*.intro {
  padding-top: 50px;
  padding-bottom: 50px;
}*/

.work {
  padding-top: 20px;
}


.skills-icons, .contact-icons {
  font-size: 110pt;
}

a:link, a:visited {
   text-decoration: none;
   color: white;
   transition-duration: 1s;
}

a:hover{
  color: gold;
  transition-duration: 1s;
}

.proj {
  border-radius: 200px;
  border: 5px solid #00bcd4;
  height: 200px;
  width: 200px;
  }

i {
  color: rgb(0, 188, 214);
}

footer, .page-footer {
  background-color: rgb(0, 188, 214)!important;
  background:linear-gradient(to right, rgb(0,188,214), rgba(13,149,156,0.54) )!important;
}

.page-footer {
  height: 62pt;
  text-align: center;
  color: white;
  padding: 0px!important;
}

